<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="company">

    <select id="cidCheck" parameterType="CompanyDTO"
    resultType="string">
      select cid
      from company
      where cid = #{cid}
    </select>
 
   <insert id="addCompany" parameterType="CompanyDTO">
      insert into
      company(cid,cpasswd,cname, cemail, cno1, cno2, cno3, cmaster, ccategory,
      post1,post2,addr1,addr2,cphone1,cphone2,cphone3)
      values(
      #{cid},#{cpasswd},#{cname},#{cemail},
      #{cno1},#{cno2},#{cno3},#{cmaster},
      #{ccategory},#{post1}, #{post2}, #{addr1}, #{addr2}, #{cphone1}, #{cphone2}, #{cphone3})
   </insert>

   <select id="login" parameterType="hashmap" resultType="CompanyDTO">
      select
      cid,cpasswd,cname, cemail, cno1, cno2, cno3, cmaster, ccategory,
      post1,post2,addr1,addr2,cphone1,cphone2,cphone3
      from company
      where cid = #{cid} and cpasswd=#{cpasswd}
   </select>

   <select id="mypageCompany" parameterType="string" resultType="CompanyDTO">
      select
      cid,cpasswd,cname, cemail, cno1, cno2, cno3, cmaster, ccategory,
      post1,post2,addr1,addr2,cphone1,cphone2,cphone3
      from company
      where cid = #{cid}
   </select>

   <update id="updateCompany" parameterType="CompanyDTO">
      update company
      set cpasswd = #{cpasswd},
      cname = #{cname},
      cemail = #{cemail},
      cno1 = #{cno1},
      cno2 = #{cno2},
      cno3 = #{cno3},
      cmaster = #{cmaster},
      ccategory = #{ccategory},
      post1 = #{post1},
      post2 = #{post2},
      addr1 = #{addr1},
      addr2 = #{addr2},
      cphone1 = #{cphone1},
      cphone2 = #{cphone2},
      cphone3 = #{cphone3}
      where cid = #{cid}
   </update>

    <delete id="deleteCompany" parameterType="string">
      delete from company
      where cid = #{cid}   
    </delete>

</mapper>

