<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="users">

    <select id="idCheck" parameterType="string"
    resultType="string">
      select userid
      from users
      where userid = #{userid}
    </select>

	<insert id="addMember" parameterType="MemberDTO">
		insert into
		users(userid,passwd,username,
		post1,post2,addr1,addr2,phone1,phone2,phone3,email1)
		values(
		#{userid},#{passwd},#{username},#{post1},
		#{post2},#{addr1},#{addr2},#{phone1},#{phone2},
		#{phone3},#{email1})
	</insert>

	<select id="login" parameterType="hashmap" resultType="MemberDTO">
		select
		userid,passwd,username,
		post1,post2,addr1,addr2,phone1,phone2,phone3,email1
		from users
		where userid = #{userid} and passwd=#{passwd}
	</select>

	<select id="mypage" parameterType="string" resultType="MemberDTO">
		select
		userid,passwd,username,
		post1,post2,addr1,addr2,phone1,phone2,phone3,email1
		from users
		where userid = #{userid}
	</select>

	<update id="updateMember" parameterType="MemberDTO">
		update users
		set passwd = #{passwd},
		post1 = #{post1},
		post2 = #{post2},
		addr1 = #{addr1},
		addr2 = #{addr2},
		phone1 = #{phone1},
		phone2 = #{phone2},
		phone3 = #{phone3},
		email1 = #{email1}
	   where userid = #{userid}	
	</update>

    <delete id="deleteMember" parameterType="string">
      delete from users
      where userid = #{userid}	
    </delete>

</mapper>













